<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<style>
    .mat-list-item {
        float: left;
        color: whitesmoke;
    }
</style>
<div>
    <!--<div style="float: left;">
        <label style="margin-right:20px">{{UserName}}</label>
    </div>-->
    <div style="float: right;">
        <div style="margin-top:5px;cursor:pointer">
            <mat-nav-list>
                <!--https://material.angular.io/components/list/overview-->
                <mat-list-item *ngIf="isAdmin" class="mat-list-item" style="cursor:pointer">
                    <a [routerLink]="['/', 'userProfile']">
                        <mat-icon>account_box</mat-icon>
                    </a>
                    <a [routerLink]="['/', 'userProfile']">
                        <label for="folder">&nbsp;<span>User Profile</span></label>
                    </a>
                </mat-list-item>
                <mat-list-item *ngIf="isAdmin" class="mat-list-item" style="cursor:pointer">
                    <mat-icon>folder</mat-icon> &nbsp;<label for="folder"><span style="cursor:pointer">Import Directory</span></label>
                    <div style="display:none">
                        <input #myInput class="custom-file-upload" style="visibility:hidden;" type="file" multiple="multiple" accept=".stl" webkitDirectory
                               id="folder"
                               (change)="handleFileInput($event)">
                    </div>
                </mat-list-item>
                <mat-list-item *ngIf="isAdmin" class="mat-list-item" style="cursor:pointer">
                    <mat-icon>file_copy</mat-icon>&nbsp; <label for="files" class="custom-file-upload"><span style="cursor:pointer">Import Files</span></label>
                    <div style="display:none">
                        <input #myInput class="custom-file-upload" style="visibility:hidden;" type="file" multiple="multiple" accept=".stl"
                               id="files"
                               (change)="handleFileInput($event)">
                    </div>
                </mat-list-item>
                <mat-list-item class="mat-list-item" style="cursor:pointer">
                    <mat-icon>person</mat-icon>&nbsp;<label style="cursor:default">{{UserName}}</label>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>
