/* Report page css */
.filter_panel{
    background: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    text-align: center;
    align-items: center;
}
.filter_panel .filter_item{
    padding: 5px;
}
.filter_panel .filter_item i.fa.fa-filter{
    padding-right: 10px;
}
.filter_panel .filter_item:not(:nth-last-child(1))::after{
    content: '';
    border-right: 1px solid #ccc;
    position: relative;
    right: -44px;
}
::ng-deep .filter_panel .mat-form-field{
    width: auto;
}
::ng-deep .filter_panel .mat-form-field-infix{
    border: 0;
    width: 134px;
}
::ng-deep .filter_panel .mat-form-field-flex{
    width: auto;
}
::ng-deep .filter_panel .mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0;
    display: none;
}
::ng-deep .filter_panel .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0;
}
.app_btn{
    background: #3A76BC;
    border-radius: 50px;
    color:#fff;
    border: 1px solid #3A76BC;
}
.app_btn:hover{
    color: #3A76BC;
    border: 1px solid #3A76BC;
    background: #fff;
    transition: 0.3s;
}
::ng-deep .cdk-overlay-pane{
    top: 150px !important;
}
::ng-deep .filter_panel .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label{
    -webkit-transform: none; 
    transform: none;
    width: 100%;
}
::ng-deep .filter_panel .filter_btn{
    min-width: 135px;
}
.action_buttons{
    display: flex;
    flex-direction: row;
}
.mat-form-field, .mat-table, .mat-card-content, .mat-raised-button, .mat-radio-label-content, .mat-radio-label {
    /*font-family: sans-serif !important;*/
}
.mat-table {
    height: 650px;
    width: 100%;
    overflow: auto;
}

.mat-header-row, .mat-row {
    padding: 0;
    cursor: pointer;
}

.mat-header-row {
    top: 0;
    position: sticky !important;
    z-index: 1 !important;
    background: inherit;
    background-color: #3A76BC;
}

.mat-header-cell, .mat-cell {
    vertical-align: middle;
    background: inherit;
}

.mat-header-cell {
    color: white;
    font-size: 13px;
}

.mat-cell {
    font-size: 11px;
}

mat-row {
    min-height: 20px;
}

.mat-header-row {
    min-height: 25px;
}


mat-radio-button {
    /*font-family: sans-serif !important;*/
    padding-right: 8px !important;
}

mat-panel-title {
    padding-left: 16px;
    z-index: 1 !important;
    background: inherit;
    /*background-color: #314551;*/
    text-align: left;
    color: white;
    vertical-align: middle !important;
    /*font-family: sans-serif !important;*/
    font-weight: bold;
}

.mat-expansion-panel-header {
    height: 33px !important;
}

.mat-expansion-panel-header {
    padding-top: 6px;
    padding-left: 16px;
    z-index: 1 !important;
    background: inherit;
    /*background-color: #314551;*/
    text-align: left;
    color: white;
    vertical-align: middle !important;
}

    .mat-expansion-panel-header.mat-expanded,
    .mat-expansion-panel-header.mat-expanded:hover {
        background: inherit;
        /*background-color: #314551 !important;*/
    }

    .mat-expansion-panel-header:hover {
        background: inherit;
        /*background-color: #314551 !important;*/
    }

.mat-expansion-panel-body {
    padding: 0 15px !important;
}

.btn-sm, .btn-group-sm > .btn {
    height: 25px;
    padding-top: 1px;
}

:host(.mat-expansion-panel-body) {
    padding: 0 15px 16px !important;
}


.fa-filter:before {
    content: "\f57e";
}
