<style>
    .mat-header-row {
        top: 0;
        position: sticky !important;
        z-index: 1 !important;
        background: inherit;
        background-color: #314551;
    }


    .mat-card-title {
        padding-top: 6px;
        padding-left: 16px;
        z-index: 1 !important;
        background: inherit;
        background-color: #314551;
        height: 35px;
        text-align: left;
        color: white;
        vertical-align: middle !important;
    }

    .mat-table {
        min-height: 520px;
        max-height: 520px;
        width: 100%;
        overflow: scroll !important;
    }

    .mat-header-cell {
        color: white;
        font-size: 13px;
    }

    .mat-cell {
        font-size: 12px;
    }
    .mat-row {
        min-height: 20px;
        cursor: pointer;
    }


    .mat-card .mat-card-content {
        line-height: 18px;
    }

    .mat-header-row {
        min-height: 35px;
    }

    .mat-card-content {
        padding: 0px !important;
    }

    .mat-card {
        margin-left: 12px;
        margin-top: 1px;
    }

    .mat-cell:nth-child(1),
    .mat-footer-cell:nth-child(1),
    .mat-header-cell:nth-child(1) {
        flex: 0 0 35px;
    }

    .mat-cell:nth-child(2),
    .mat-header-cell:nth-child(2) {
        flex: 0 0 75px;
    }

    .mat-cell:nth-child(3),
    .mat-header-cell:nth-child(3) {
        flex: 0 0 90px;
    }

    .mat-cell:first-child, .mat-footer-cell:first-child, .mat-header-cell:first-child {
        padding-left: 5px !important;
    }

    .row {
        margin-right: 3px;
        margin-left: 3px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
    .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
    .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 3px;
        padding-left: 3px;
    }

    .mat-card {
        margin: 0px 5px 5px 5px !important;
        padding: 0px !important;
    }
</style>

<div class="row">
    <div class="col-md-4 col-lg-4">
        <mat-card>
            <mat-card-title class="background-colorPagePanel">Metadata Information</mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Tape title" [(ngModel)]="objTapeDetails.tapE_TITLE" spellcheck="true" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Logged By" [(ngModel)]="objTapeDetails.loggeD_BY" spellcheck="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Subtitle/Team" [(ngModel)]="objTapeDetails.subtitle" spellcheck="true" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Producer" [(ngModel)]="objTapeDetails.producer" spellcheck="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerair" placeholder="Air Date" [(ngModel)]="objTapeDetails.aiR_DATE" />
                            <mat-datepicker-toggle matSuffix [for]="pickerair"></mat-datepicker-toggle>
                            <mat-datepicker #pickerair></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Director" [(ngModel)]="objTapeDetails.director" spellcheck="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Venue" [(ngModel)]="objTapeDetails.venue" spellcheck="true" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="gray">
                            <input matInput placeholder="Log Code" [(ngModel)]="objTapeDetails.loG_CODE" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Location" [(ngModel)]="objTapeDetails.location" spellcheck="true" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickershoot" placeholder="Shoot Date" [(ngModel)]="objTapeDetails.shooT_DATE" />
                            <mat-datepicker-toggle matSuffix [for]="pickershoot"></mat-datepicker-toggle>
                            <mat-datepicker #pickershoot></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Story/Other" [(ngModel)]="objTapeDetails.other" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Reel Number" [(ngModel)]="objTapeDetails.reeL_NUMBER" spellcheck="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Show Code" [(ngModel)]="objTapeDetails.showCode" spellcheck="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right" style="height: 40px;">
                        <button type="button" class="btn btn-bgcolor btn-icon btn-sm" (click)="SaveDetails(objTapeDetails)" title="Save Metadata Information and Log">
                            Save
                        </button>&nbsp;
                        <button type="button" class="btn btn-bgcolor btn-icon btn-sm" (click)="DeleteTape(objTapeDetails)" title="Delete Metadata Information and Log">
                            Delete
                        </button>&nbsp;
                        <button type="button" class="btn btn-bgcolor btn-icon btn-sm" (click)="Print(objTapeDetails)" title="Print Metadata Information and Log">
                            Print
                        </button>
                        &nbsp;
                    </div>
                </div>

            </mat-card-content>
        </mat-card>

        <mat-card style="display:none">
            <mat-card-title class="background-colorPagePanel">Print by Code</mat-card-title>
            <mat-card-content>
                
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field>
                            <mat-select placeholder="Codes" [(ngModel)]="objSelectedCodes" multiple>
                                <mat-option *ngFor="let code of objCodes" [value]="code.code">{{code.code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-bgcolor btn-icon btn-md" (click)="PrintByCodes(objTapeDetails)" title="Print Metadata Information and Log by Code">
                            Print By Code
                        </button>&nbsp;
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-8 col-lg-8">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="background-colorPagePanel">Log Details({{totalCount}})</mat-card-title>
                <div class="form-group row" style="margin-bottom:5px;">
                    <div class="col-md-6" style="text-align:left;">
                        <button type="button" class="btn btn-bgcolor btn-icon btn-sm" (click)="OpenEdit($event,'New')" title="Click here to add new Log">
                            Add New
                        </button>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-bgcolor btn-icon btn-sm" (click)="goBackToTapeList()" title="Click here to go back Tape list Search">
                            Back to Tape List&nbsp;
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <mat-table [dataSource]="tapeLogSource" class="mat-elevation-z8" infiniteScroll
                                   [infiniteScrollDistance]="2"
                                   [infiniteScrollThrottle]="50"
                                   [infiniteScrollContainer]="'.mat-table'"
                                   [fromRoot]="true"
                                   (scrolled)="onScroll()" [style.min-height.px]="[windowMaxHeight]" [style.max-height.px]="[windowMaxHeight]">
                            <ng-container matColumnDef="Actions">
                                <mat-header-cell *matHeaderCellDef>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                                    <button mat-icon-button class="button-color" focusable="false" (click)="DeleteLog(row,row.id)">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Time">
                                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Code">
                                <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Story">
                                <mat-header-cell *matHeaderCellDef [style.min-width.px]="[maxColumnWidth]"> Story </mat-header-cell>
                                <mat-cell *matCellDef="let element" [style.min-width.px]="[maxColumnWidth]" style="white-space:nowrap !important;"> {{element.story}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [style.min-width.px]="[maxRowWidth]"></mat-header-row>
                            <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" (click)="OpenEdit(row,'Edit')" [ngClass]="{gray: even}" [style.min-width.px]="[maxRowWidth]"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
